/* en vrac :
100% 100% 100% 0 auto border-box box-sizing 
display height flex flex none margin 
max-width width width
*/ 

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.carrousel_ecran {
    /* largeur du parent pour chaque enfant */
    flex: none;
}

.carrousel_ecran figure {
    margin: 0;
}